h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 5rem;
}

.timer {
  font-size: 3.5rem;
  font-family: cursive;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 3rem;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s ease, color .3s ease;
}

.start-button {
  background-color: #07b507;
}

.start-button:hover {
  background-color: transparent;
  color: #07b507;
  border: 2px solid #07b507;
}

.stop-button {
  background-color: #d73108;
}

.stop-button:hover {
  background-color: transparent;
  color: #d73108;
  border: 2px solid #d73108;
}

.reset-button {
  background-color: #666666;
}

.reset-button:hover {
  background-color: transparent;
  color: #666666;
  border: 2px solid #666666;
}
